:root {
    --primary-color: #C03221;
    --secondary-color: #8CADA7;
    --third-color: #110b11;
}


p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: larger;
    font-style: normal;
    color: #110b11;
    padding: 15px;
    text-align: center;
    
}
 h1, h2, h3, h4 {
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }


body {
    width: 1200px;
    height: auto;
    margin: auto;
}

 a {
    text-decoration: none; 
    color: white;
}

.photo-container {
    position:relative;
    display: inline-block;
}

header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    top: 20%;
    width: 1200px; 
    background-color: var(--primary-color);
    margin-bottom: 30px;
}

.contact {
    width: 1200px;
    height: 450px;
    background-color: rgb(216, 216, 216);
}  

.contact h1 {
    position: relative;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: rgb(12, 12, 12)   
}

.contact p {
    font-size: x-large;
    margin-top: 70px;
    text-align: center;
    gap: 10px;
}

.contact iframe {
    position: relative;
    margin-left: 500px;
    margin-bottom: 20px;
}

.map {
    height: 200px;
    width: 100px;
  top: 10px;
}

.Logo img {
    height: 160px;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}


  .staff {
    margin: 100px;
    position: relative;
    display: flex;
    justify-content: space-evenly;

  }

  .staff section {
    position: relative;
        top: 20%;
        width: 1100px; 
        color: var(--third-color);
        background-color: rgba(255, 255, 255, 0.753);
        left: 0;
        right:0;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
  }

 .staff h2 {
    margin-top:80px;
     position: relative;;
 }

.grid-container {
    display: flex;
    gap: 10px;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    
    
}

.grid-image{
    width: 200px;
    height: 200px;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 400px;
    margin: auto;
  }
  
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
  
 


    form {
        width: 650px;
        margin: 40px auto;
        padding: 1rem;
        border: 1px solid rgb(0 0 0 / 0.1);
        border-radius: 0.5rem;
        background-color: #eee;
        display:grid;
    }
    
    fieldset {
        display: grid;
        grid-gap: .5rem;
        margin: 1rem;
        border: 1px solid rgb(0 0 0 / 0.2);
        padding: 1rem;
    }
    
    legend {
        padding: 0.5rem;
        color: navy;
        font-size: 1.3em;
    }
    
    label{
        text-align: left;
        padding-right: 1rem;
    }
    
    input, select, textarea {
        padding: 0.5rem;
        font-size: 1.1rem;
        
    }
    
    input[type=checkbox] {
        width:22px;
        height: 22px;
        vertical-align: bottom;
    }
    
    button {
        margin: 1rem;
        background-color: navy;
        color: #fff;
        border: none;
        border-radius: .5rem;
        padding: .75rem;
        font-size: 1.2rem;
    }
    
    button:hover {
        background-color: darkgreen;
    }
    

    .form-item {
        display: grid;
        align-items: center;
    }
    
    .column1 {
        grid-template-columns: 3fr 1fr;
        margin: 0.5rem 0;
    }
    
    .column2 {
        grid-template-columns: 1fr 2fr;
    
    }
    
   
    
   
   
    .photo-container {
        position:relative;
        display: inline-block;
    }
    
    .hero {
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .hero img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    
    

    
    h1 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%); 
        color: rgb(12, 12, 12)
        
        
    }
    
    .hero section { 
        position: absolute;
        top: 40%;
        width: 1100px; 
        color: var(--third-color);
        background-color: rgba(255, 255, 255, 0.753);
        left: 0;
        right:0;
        margin: 0 auto;
        
    }
    
    .hero section img {
        width: 300px;
        float: right;
        padding: 10px;
    
    }
    
    
    
    nav ul{
        color:#110b11;
        justify-content: flex-end;
        font-size:x-large;
        display: flex;
        list-style: none;
        margin-right: 300px;
        margin-left: auto;
        gap: 15px;
       padding: 1.5rem;
    
    
    }
    
    .Logo img {
        height: 160px;
        margin-left: 250px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .history {
        display: grid;
        place-items: center;
            position: relative;
            width: 100%;
            height: auto;
            background-color: #ddd5d5;
            margin-top: 90px;
    }
    
    h2 {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%); 
        color: rgb(12, 12, 12)
    }
    
    
    
    .history p{
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 600;
            font-size: larger;
            font-style: normal;
            color: #050505;
            padding: 15px;
            text-align: center;
    }
    
    .history img
    {
        align-items: center ;
        max-width: 500px;
        max-height:250px;
    }
        
    
    
    .Adventure {
        margin-top: 100px;
        position: relative;
         width: 100%;
         height: auto;
         margin-bottom: 30px;
    }
    
    h3 {
        position: relative;
        margin-left: 330px;
        margin-top: 40px;
        left: 50%;
        transform: translate(-50%, -50%); 
        color: rgb(12, 12, 12)
    }
    .Adventure section { 
        position: relative;
        top: 20%;
        width: 1100px; 
        color: var(--third-color);
        background-color: rgba(255, 255, 255, 0.753);
        left: 0;
        right:0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    
    

    .trip-option {
        margin-top: 150px;
        position: relative;
         width: 100%;
         height: auto;
    }

    .trip-option section { 
        position: relative;
        top: 20%;
        width: 1100px; 
        color: var(--third-color);
        background-color: rgba(255, 255, 255, 0.753);
        left: 0;
        right:0;
        margin: 0 auto;
        display: flex;
        flex-direction: row; }

.pricing {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width:1200px;
    
}
.pricing1 
{
    position: relative;
    align-items: start;
    justify-content: flex-start;
    width: 1200px; 
    color: var(--third-color);
    background-color: rgb(236, 236, 236);
    left: 0;
    right:0;
    height: auto;
     }

     .pricing1 img {
        width: 300px;
        float: left;
        padding: 10px;
     }

     .pricing2 
{
    position: relative;
    align-items: start;
    justify-content: flex-start;
    width: 1200px; 
    color: var(--third-color);
    background-color: rgb(236, 236, 236);
    left: 0;
    right:0;
     }
.pricing2 img {
    width: 300px;
        float: left;
        padding: 10px;
}

     .pricing3 
{
    position: relative;
    align-items: start;
    justify-content: flex-start;
    width: 1200px; 
    color: var(--third-color);
    background-color: rgb(236, 236, 236);
    left: 0;
    right:0;
     }

     .pricing3 img{
        width: 300px;
        float: left;
        padding: 10px;
     }

    .grid-container {
        display: grid;
        gap: 10px;
        align-items: center;
        margin-right: 20px;
    }
    
    
    
    .homeimg {
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .homeimg img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .homeimg h1{
        margin-top: 10%;
    }
    
   .middle1a {
        margin-top: 60px;
        position: relative;
         width: 100%;
         height: auto;
         background-color: rgb(236, 236, 236);;

   }
    
   .middle1a h2 {
    position: relative;
    margin: 20px;
    text-align: center;
   }

    .middle1a p {
        font-family: "Noto Sans KR", sans-serif;
        font-size: larger;
        font-style: normal;
        color: #0a0a0a;
        padding: 15px;
        text-align: center;
        background-color: rgb(236, 236, 236);
        margin-top: 20px;
    }
    
    .middle2 {
        margin-top: 150px;
        position: relative;
         width: 100%;
         height: auto;
    }

    .middle2 section { 
        position: relative;
        top: 20%;
        width: 1100px; 
        color: var(--third-color);
        left: 0;
        right:0;
        margin: 0 auto;
        display: flex;
        flex-direction: row; }



        .direction {
            margin-top: 90px;
            position: relative;
             width: 100%;
             height: auto;
    
       }
        
       .direction h3 {
        position: relative;
        margin: 20px;
        text-align: center;
        
       }
    
        .direction p {
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 600;
            font-size: larger;
            font-style: normal;
            color: #0a0a0a;
            padding: 50px;
            text-align: center;
            background-color: rgb(236, 236, 236);
        }

    .map2 {
       position: relative;
    
    }
.map2 img {
    height: 500px;
    width: 1200px;
    margin-bottom: 30px;
}


    .grid-image{
        width: 200px;
        height: 200px;
    }
    
    figure {
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column;
        padding: 5px;
        max-width: 220px;
        margin: auto;
      }
      
      
      figcaption {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
      }
      
      .Intro {
        position: relative;
        width: 100%;
        height: auto;
      }
      
      .Intro img{
        display: block;
        width: 100%;
        height: auto;
      }
      
      .Intro h1 {
        position: relative;
        text-align: center;
        margin-top: 20px;
      }
      
      .Intro p {
        font-weight: 600;
        background-color: rgb(236, 236, 236);
        padding: 50px;
      }
      
      .middle {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 100px;
      }
      .middle h2 {
        position: relative;
        text-align: center;
      }
    .middle p{
        font-weight: 600;
        background-color: rgb(236, 236, 236);
        padding: 50px;
    }

      footer{
        position: relative;
        display: flex;
        width: 1200px; 
        height: 200px;
        color: var(--third-color);
        background-color: #C03221;
        margin-top: 50px;
       
    }
    
    footer img {
        width: 80px;
        height: 80px;
    }
    
    .sociallinks {  
        width: 50%;
        text-align: right;
        margin-top: 50px;
        margin-right: 20px;
    }
      
        footer p 
        { 
            margin-left: 50px;
            margin-top: 50px;
        }
    footer nav {
    float: right;
    }