:root {
    --primary-color: #C03221;
    --secondary-color: #8CADA7;
    --third-color: #110b11;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--third-color);
}

:p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: <weight>;
    font-style: normal;
    color: #110b11;
}


body {
    width: 1200px;
    margin: auto;
}

.sociallinks a {
    text-decoration: none; 
}

.photo-container {
    position:relative;
    display: inline-block;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}




.heading-container {
    display:inline-block;
    padding: 10px 20px;
    border: 2px solid gray;
    background-color: gray;
}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white
    
}

article { 
    position: absolute;
    top: 20%;
    width: 900px; 
    color: var(--third-color);
    background-color: rgba(128, 128, 128, 0.719);
    left: 0;
    right:0;
    margin: 0 auto;

    
}

.hero article img {
    width: 200px;
    float: right;

}




.nav-menu li{
   list-style-type: none;
   display: flex;
   justify-content: left; 
}

.nav-menu{
    color:#110b11
    font-family: "Noto Sans KR", sans-serif;
}